.gameBoard {
  position: absolute;
  overflow: hidden;
  perspective: 1000px;
  background: linear-gradient(to right, #00000080 0%, #ffffff00 40%),
    linear-gradient(to left, #00000080 0%, #ffffff00 40%),
    repeating-radial-gradient(
      240px 240px at -11.5vw 50vh,
      var(--table-green) 0%,
      var(--table-green-light) 7%
    );

  height: 100%;
  width: 100vw;
  display: grid;

  @media (min-width: 0px) {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
      "wheel settings"
      "wheel table";
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: radial-gradient(
    circle at bottom,
    rgba(255, 255, 255, 0.01) 30%,
    rgba(0, 0, 0, 0.2) 50%
  );
  z-index: 1;
  pointer-events: none;

  @media (min-width: 1450px) {
    background-image: radial-gradient(
      circle at top right,
      rgba(255, 255, 255, 0.07) 20%,
      rgba(0, 0, 0, 0.2) 50%
    );
  }
}

.attributions {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1;
  width: 1;
  margin: -1;
  padding: 0;
  border: 0;
}
