.container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  backdrop-filter: blur(5px);
  z-index: 2;
}

.cell {
  padding: 30px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-grid-divider);
  font-weight: 700;
  border-left: var(--standard-border);
  border-top: var(--standard-border);
  user-select: none;
  transition: background-color 100ms;

  &:hover {
    background-color: var(--color-highlight);
  }

  &:nth-child(n + 9) {
    border-bottom: var(--standard-border);
  }

  span {
    position: relative;
    display: flex;
    place-content: center;
    padding: 10px;
    border-radius: 50%;
    flex-shrink: 0;
    flex-grow: 1;

    ul {
      position: absolute;
      width: 15px;
      height: 15px;
      padding: 0;
      &:nth-child(1) {
        top: -5px;
        left: -2px;
      }
      &:nth-child(2) {
        top: -5px;
        right: -5px;
      }
      &:nth-child(3) {
        bottom: -5px;
        left: -5px;
      }
      &:nth-child(4) {
        bottom: -5px;
        right: -5px;
      }
    }
  }
}
