.settingsContainer {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 50px;
}

.stats {
  color: var(--color-grid-divider);
  display: flex;
  place-content: center;
  font-size: 34px;
  font-weight: bolder;
  background: linear-gradient(
    to bottom,
    #cdc09f,
    rgb(199, 187, 155) 35%,
    #eab103 45%,
    rgb(100, 74, 9) 70%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  padding: 20px;
  user-select: none;

  &:last-child {
    margin-right: 100px;
  }

  &::before {
    content: attr(data-text);
    text-shadow: -2px -1px 0 rgba(255, 255, 255, 0.647);
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: -1;
  }
}

.gradientText {
  font-size: 34px;
  font-weight: bolder;
  background: linear-gradient(
    to bottom,
    #cdc09f,
    rgb(199, 187, 155) 35%,
    #eab103 45%,
    rgb(100, 74, 9) 70%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.gradientText::before {
  content: attr(data-text);
  text-shadow: -2px -0.5px 0 rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 1.5px;
  left: 1.5px;
  z-index: -1;
}
